<div class="Todobox">
  <div >
    <form action="">
      <p >ToDo</p>
      <input class="Todosearch" value="Search" type="text">
      <div class="dropdown">
        <button class="dropbtn">Sort by</button>
        <div class="dropdown-content">
          <a href="#">Name</a>
          <a href="#">Date</a>
          <a href="#">Group</a>
        </div>
      </div>
      <div>
        <button class="addTablebutton"> Add </button>
      </div>

    </form>
  </div>
  <div>

    <app-task *ngFor="let tasklist of tasklists" [task]="tasklist.task_list">
            {{tasklist.task_list}}
    </app-task>

  </div>
  <div>
    <button class="addTaskbutton"> Add </button>
  </div>
</div>
